@font-face {
  font-family: 'Meyrin';
  src: url('./assets/Meyrin.ttf') format('truetype');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
}

h1{
    font-family: 'Meyrin', sans-serif;
    font-size: 15vw;
    margin-bottom: 20px;
}