body{
  margin: 0;
  background: black;
}

.container{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.packetContainer{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  transition: transform 0.1s ease;
}

.cardContainer{
  position: absolute;
  z-index: 0;
}

.directions{
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 1;
  padding-bottom: 5%
}

.packetContainer.thump {
  animation: thump .5s ease;
}

@keyframes thump {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(20);
    opacity: 0;
  }
}

.snapOut {
  animation: snapUp 0.15s ease-in-out forwards;
}

@keyframes snapUp {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 1;
  }
}
