body{
  margin: 0;
  background: black;
}

.container{
  position: relative;
  width: 100vw;
  height: 100vh;
}

.packetContainer{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: transform 0.1s ease;
}

.cardContainer{
  position: absolute;
  z-index: 0;
}

.packetContainer.thump {
  animation: thump 0.2s ease;
}

@keyframes thump {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(10);
  }
  100% {
    transform: scale(1);
  }
}

.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.snapOut {
  animation: snapUp 0.15s ease-in-out forwards;
}

@keyframes snapUp {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 1;
  }
}
